.container {
  padding: 12px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;

  & > * {
    font-family: "Courier New", Courier, monospace;
  }
}

.title {
  font-size: 42px;
  color: #e2f1e7;
  text-transform: uppercase;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  text-align: center;
  margin: 24px 0 64px 0;
}

.fetchButton {
  font-size: 18px;
  color: #e2f1e7;
  border: unset;
  border-radius: 16px;
  background-color: #629584;
  padding: 4px 24px;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: #387478;
  }
}

.toolbar {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}

.initialMessage {
  width: 100%;
  text-align: center;
  color: #e2f1e7;
  font-size: 24px;
}

.errorAlert {
  width: 100%;
  padding: 24px;
  font-size: 18px;
  display: block;
  text-align: center;
  background-color: #9b3922;
  color: #e2f1e7;
  margin-bottom: 24px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  color: #e2f1e7;
  align-items: center;

  button {
    padding: 4px 8px;
    color: #e2f1e7;
    border: unset;
    border-radius: 16px;
    background-color: #629584;
    cursor: pointer;

    &:disabled {
      cursor: inherit;
      opacity: 0.3;
    }
  }
}
